/**
 * 登录模版样式
 *
 * @author ngtwewy <mail@restfulapi.cn>
 * @link https://restfulapi.cn
 */

html,
body {
  // background-color: #444;
  font-family: "Microsoft YaHei", 微软雅黑, STHei, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  position: relative;
  height: 100%;
}

.login {
  background-color: #fff;
  border-radius: 4px;
  width: 360px;
  min-height: 230px;
  padding: 35px 40px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .logo {
    text-align: center;
    font-size: 26px;
    color: #444;
    cursor: pointer;
    height: 40px;
    margin-bottom: 22px;
    overflow: hidden;
  }
  .title {
    color: #444;
    font-family: "微软雅黑";
    font-size: 28px;
    margin: -10px 0 46px;
    text-align: center;
  }
  .line {
    padding: 5px 0;
    height: 42px;
    margin-bottom: 20px;
    line-height: 42px;
    position: relative;
    span {
      width: 70px;
      float: left;
      color: #757584;
    }
    .inputtxt {
      background: transparent;
      float: left;
      width: 338px;
      height: 30px;
      line-height: 30px;
      border: #d1d1d1 1px solid;
      padding: 5px 10px;
      position: relative;
      z-index: 1;
      box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset,
        -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
      border-radius: 3px;
    }
  }
  .login_btn {
    input {
      width: 100%;
      height: 44px;
      background: linear-gradient(#1a1c35, #2c306b);
      color: #a6a6c2;
      border: 0px solid #1a1c35;
      text-align: center;
      font-size: 16px;
      border-radius: 3px;
      cursor: pointer;
    }
    input:hover {
      background: linear-gradient(#292b52, #353b83);
    }
  }
  .bottom-link {
    bottom: 20px;
    color: #1a1c35;
    position: absolute;
    right: 40px;
    font-size: 12px;
    line-height: 12px;
  }
}

//=============================================================================


.videocontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    // background: #191d22a6;
    background: #444444;
  }
  .fullscreenvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }
}
