@charset "UTF-8";
/**
 * 登录模版样式
 *
 * @author ngtwewy <mail@restfulapi.cn>
 * @link https://restfulapi.cn
 */
html,
body {
  font-family: "Microsoft YaHei", STHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  height: 100%; }

.login {
  background-color: #fff;
  border-radius: 4px;
  width: 360px;
  min-height: 230px;
  padding: 35px 40px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login .logo {
    text-align: center;
    font-size: 26px;
    color: #444;
    cursor: pointer;
    height: 40px;
    margin-bottom: 22px;
    overflow: hidden; }
  .login .title {
    color: #444;
    font-family: "微软雅黑";
    font-size: 28px;
    margin: -10px 0 46px;
    text-align: center; }
  .login .line {
    padding: 5px 0;
    height: 42px;
    margin-bottom: 20px;
    line-height: 42px;
    position: relative; }
    .login .line span {
      width: 70px;
      float: left;
      color: #757584; }
    .login .line .inputtxt {
      background: transparent;
      float: left;
      width: 338px;
      height: 30px;
      line-height: 30px;
      border: #d1d1d1 1px solid;
      padding: 5px 10px;
      position: relative;
      z-index: 1;
      box-shadow: 0 3px 5px -4px #cddff3 inset,-1px 0 3px -2px #cddff3 inset;
      border-radius: 3px; }
  .login .login_btn input {
    width: 100%;
    height: 44px;
    background: linear-gradient(90deg, #414e5e, #2a2b2d);
    color: #cddff3;
    border: 0px solid #a4c5eb;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer; }
  .login .login_btn input:hover {
    background: linear-gradient(90deg, #5d7086, #64666b); }
  .login .bottom-link {
    bottom: 20px;
    color: #1a1c35;
    position: absolute;
    right: 40px;
    font-size: 12px;
    line-height: 12px; }

.videocontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: linear-gradient(68deg, #252629, #6d829b);
  background-repeat: none;
  background-size: cover; }
  .videocontainer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    background: #3b3a3a;
    opacity: 0.5; }
  .videocontainer .fullscreenvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity; }
